<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
  <h1>This is cats page</h1>
  <ul>
    <% for(cat of cats) { %>
    <li><%= cat %></li>
    <% } %>
  </ul>
</body>
<%- include('./partials/footer.ejs') %>
