<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home page</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet tempore,
      quae corporis quis numquam commodi officiis voluptates mollitia.
      Reprehenderit tenetur, tempore commodi exercitationem adipisci nobis
      facere. Amet provident impedit magni adipisci voluptatem fugit minus
      cupiditate quos neque? Praesentium provident eaque nihil minus? Possimus
      dicta excepturi adipisci fugiat sequi! Possimus porro necessitatibus
      aliquam consequatur illum aperiam molestias similique sit? Rem eos
      officiis, nostrum ab, vel molestias pariatur quasi neque maxime cupiditate
      sit earum recusandae. Quidem dicta blanditiis deserunt doloremque sunt ut!
    </p>
  </body>
</html>
